[submodule "lsps/zenstack"]
	path = lsps/zenstack
	url = https://github.com/zenstackhq/zenstack
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/dracula/tmux
