.vscode
.DS_Store
.luarc.json
/config/nvim/plugin/
/config/nvim/plugin/packer_compiled.lua
config/nvim/plugin/packer_compiled.lua
.luarc.json
/emacs/.config/emacs/eln-cache/30.2-d3a47193
/emacs/.config/emacs/straight
