body {
  counter-reset: section h2 h3 h4 h5 h6;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, p {
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
}

h4, h5, h6 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

h1::before {
  counter-increment: section;
  counter-set: h2 h3 h4 h5 h6;
  content: counter(section);
  margin-right: 0.5rem;

  border-radius: 50%;
  background-color: #22a;
  color: #fff;
  text-align: center;

  display: grid;
  place-items: center;

  line-height: 2rem;
  font-size: 2rem;

  width: 3.5rem;
  height: 3.5rem;

  grid-area: b;
}

h1 {
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 3rem;

  display: grid;
  grid-template-areas: 
    'b c'
    'b a';
  grid-template-columns: min-content 1fr;
}

h1::after {
  content: '';
  border-bottom: 4px solid #22a;

  transform: translateX(-0.5rem) translateY(-0.25rem);

  grid-area: a;
}

h2::before {
  counter-increment: h2;
  counter-set: h3 h4 h5 h6;

  background-color: #22a;
  color: #fff;

  content: counter(section) '.' counter(h2);

  font-size: 1.75rem;
  margin-right: 0.25rem;

  padding: 0.25rem;

  width: 3rem;
  text-align: center;

  grid-area: b
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  
  display: grid;
  grid-template-areas: 
    'b c'
    'b a';
  grid-template-columns: min-content 1fr;
}

h2::after {
  content: '';
  border-bottom: 4px solid #22a;

  transform: translateX(-0.5rem);
  
  grid-area: a;

}

h3::before {
  counter-increment: h3;
  counter-set: h4 h5 h6;

  background-color: #22a;
  color: #fff;

  content: counter(section) '.' counter(h2) '.' counter(h3);

  font-size: 1.75rem;
  margin-right: 0.25rem;

  padding: 0.25rem;

  width: 4rem;
  text-align: center;

  grid-area: b
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  
  display: grid;
  grid-template-areas: 
    'b c'
    'b a';
  grid-template-columns: min-content 1fr;
}

h3::after {
  content: '';
  border-bottom: 4px solid #22a;

  transform: translateX(-0.5rem);
  
  grid-area: a;

}

h4::before {
  counter-increment: h4;
  counter-set: h5 h6;

  margin-right: 0.5rem;

  content: counter(section) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.';
}

h4 {
  font-weight: 500;
  font-size: 1.8rem;
}

h5::before {
  counter-increment: h5;
  counter-set: h6;

  margin-right: 0.5rem;

  content: counter(section) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.';
}

h5 {
  font-weight: 500;
  font-size: 1.5rem;
}

h6::before {
  counter-increment: h6;

  margin-right: 0.5rem;

  content: counter(section) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.' counter(h6) '.';
}

h6 {
  font-weight: 500;
  font-size: 1.3rem;
}

math, mjx-container {
  display: inline-block math; 
  text-align: left;

  font-family: 'Comic Sans MS' 'Stix Two Math', sans-serif !important;
  font-size: 20px
}

span.math {
  padding: 0.5rem;
  text-align: left;
}

code {
  display: block;
  white-space: pre-wrap;
  background-color: #eee;
  padding: 0.5rem;

  font-family: JetBrains Mono, monospace;
  font-size: 12px;
}

p > code {
  display: inline;
  white-space: pre-wrap;
  background-color: #eee;
  padding: 0.25rem;

  font-family: JetBrains Mono, monospace;
  font-size: 12px;
}

blockquote {
  border-left: 4px solid #22a;
  padding-left: 1rem;
  margin-left: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-style: italic;
}
img {
  max-width: 50%;
  display: block;
}

.kanban {
	display: grid;
	background-color: #c0c0ff;
	padding: 2rem;
	column-gap: 1rem;
  grid-row: 1;
	border-radius: 0.5rem;
  overflow-x: scroll;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.kanban > a:first-child > h1:first-child { 
  all: initial;
  counter-reset: none;
  counter-increment: none;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.0rem;
}

.kanban > a:first-child {
  margin-bottom: 1.0rem;
}

.kanban > a:first-child > h1:first-child::after { 
  all: initial;
  content: none;
}

.kanban > a:first-child > h1:first-child::before { 
  all: initial;
  content: none;
}

.kanban > p {
	font-size: 1.125rem;
	font-weight: bold;
	margin: 0;
	grid-row: 2;
	background-color: white;
	border-radius: 0.5rem 0.5rem 0 0;
	padding: 1rem;
	background-color: #e0e0f0;
}
.kanban > ul {
	margin: 0;
	grid-row: 3;
	background-color: #e0e0f0;
	border-radius: 0 0 0.5rem 0.5rem;
	list-style-type: none;
	padding: 0 1rem 1rem 1rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

.kanban > ul > li {
	padding: 0.75rem;
	min-width: 6rem;
  max-width: 6rem;
	border-radius: 0.5rem;
	background-color: #f0f0ff;
  transition: all;
  transition-duration: 66ms;
}

.kanban > ul > li:hover {
  transform:scale(1.125);
}

.center {
  text-align: center;
}

.center > p {
  text-align: center;
}

.center > p > .math {
  display: inline-block;
  text-align: center;
}

.center > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
}

.right > p {
  text-align: right;
}

.right > p > .math {
  display: inline-block;
  text-align: right;
}

.right > p > img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.justify {
  text-align: justify;
}

.justify > p {
  text-align: justify;
}

.justify > p > .math {
  display: inline-block;
  text-align: justify;
}

/*
 * theme "Solarized (light)" generated by syntect
 */

.syntect-comment, .syntect-meta.syntect-documentation {
 color: #93a1a1;
}
.syntect-string {
 color: #2aa198;
}
.syntect-string.syntect-regexp {
 color: #2aa198;
}
.syntect-constant.syntect-character.syntect-escape {
 color: #dc322f;
}
.syntect-constant.syntect-numeric {
 color: #6c71c4;
}
.syntect-variable {
 color: #268bd2;
}
.syntect-variable.syntect-function {
 color: #b58900;
}
.syntect-variable.syntect-language {
 color: #d33682;
}
.syntect-keyword {
 color: #859900;
}
.syntect-meta.syntect-import .syntect-keyword, .syntect-keyword.syntect-control.syntect-import, .syntect-keyword.syntect-control.syntect-import.syntect-from, .syntect-keyword.syntect-other.syntect-import, .syntect-keyword.syntect-control.syntect-at-rule.syntect-include, .syntect-keyword.syntect-control.syntect-at-rule.syntect-import {
 color: #cb4b16;
}
.syntect-keyword.syntect-operator.syntect-comparison, .syntect-keyword.syntect-operator.syntect-assignment, .syntect-keyword.syntect-operator.syntect-arithmetic {
 color: #657b83;
}
.syntect-storage {
 color: #859900;
}
.syntect-storage.syntect-modifier {
 color: #586e75;
}
.syntect-keyword.syntect-control.syntect-class, .syntect-entity.syntect-name, .syntect-entity.syntect-name.syntect-class, .syntect-entity.syntect-name.syntect-type.syntect-class {
 color: #b58900;
}
.syntect-entity.syntect-other.syntect-inherited-class {
 color: #268bd2;
}
.syntect-entity.syntect-other.syntect-attribute-name {
 color: #b58900;
}
.syntect-support, .syntect-support.syntect-type, .syntect-support.syntect-class {
 color: #859900;
}
.syntect-entity.syntect-name.syntect-function {
 color: #b58900;
}
.syntect-punctuation.syntect-definition.syntect-variable {
 color: #859900;
}
.syntect-constant, .syntect-constant.syntect-language, .syntect-meta.syntect-preprocessor {
 color: #b58900;
}
.syntect-entity.syntect-name.syntect-section {
 color: #cb4b16;
}
.syntect-support.syntect-function.syntect-construct, .syntect-keyword.syntect-other.syntect-new {
 color: #dc322f;
}
.syntect-constant.syntect-character, .syntect-constant.syntect-other {
 color: #cb4b16;
}
.syntect-entity.syntect-name.syntect-tag {
 color: #268bd2;
}
.syntect-punctuation.syntect-definition.syntect-tag.syntect-html, .syntect-punctuation.syntect-definition.syntect-tag.syntect-begin, .syntect-punctuation.syntect-definition.syntect-tag.syntect-end {
 color: #93a1a1;
}
.syntect-support.syntect-function {
 color: #859900;
}
.syntect-punctuation.syntect-separator.syntect-continuation {
 color: #dc322f;
}
.syntect-storage.syntect-type {
 color: #268bd2;
}
.syntect-support.syntect-type.syntect-exception {
 color: #cb4b16;
}
.syntect-keyword.syntect-other.syntect-special-method {
 color: #cb4b16;
}
.syntect-invalid {
 background-color: #ec9489;
}
.syntect-string.syntect-quoted.syntect-double, .syntect-string.syntect-quoted.syntect-single {
 color: #2aa198;
}
.syntect-punctuation.syntect-definition.syntect-string {
 color: #839496;
}
.syntect-meta.syntect-brace.syntect-square, .syntect-punctuation.syntect-section.syntect-brackets {
 color: #268bd2;
}
.syntect-meta.syntect-brace.syntect-round, .syntect-meta.syntect-brace.syntect-curly, .syntect-punctuation.syntect-section, .syntect-punctuation.syntect-section.syntect-block, .syntect-punctuation.syntect-definition.syntect-parameters, .syntect-punctuation.syntect-section.syntect-group {
 color: #657b83;
}
.syntect-support.syntect-constant.syntect-color, .syntect-invalid.syntect-deprecated.syntect-color.syntect-w3c-non-standard-color-name.syntect-scss {
 color: #b58900;
}
.syntect-meta.syntect-selector.syntect-css {
 color: #657b83;
}
.syntect-entity.syntect-name.syntect-tag.syntect-css, .syntect-entity.syntect-name.syntect-tag.syntect-scss, .syntect-source.syntect-less .syntect-keyword.syntect-control.syntect-html.syntect-elements, .syntect-source.syntect-sass .syntect-keyword.syntect-control.syntect-untitled {
 color: #b58900;
}
.syntect-entity.syntect-other.syntect-attribute-name.syntect-class {
 color: #b58900;
}
.syntect-entity.syntect-other.syntect-attribute-name.syntect-id {
 color: #b58900;
}
.syntect-entity.syntect-other.syntect-attribute-name.syntect-pseudo-element, .syntect-entity.syntect-other.syntect-attribute-name.syntect-tag.syntect-pseudo-element, .syntect-entity.syntect-other.syntect-attribute-name.syntect-pseudo-class, .syntect-entity.syntect-other.syntect-attribute-name.syntect-tag.syntect-pseudo-class {
 color: #268bd2;
}
.syntect-text.syntect-html.syntect-basic .syntect-meta.syntect-tag.syntect-other.syntect-html, .syntect-text.syntect-html.syntect-basic .syntect-meta.syntect-tag.syntect-any.syntect-html, .syntect-text.syntect-html.syntect-basic .syntect-meta.syntect-tag.syntect-block.syntect-any, .syntect-text.syntect-html.syntect-basic .syntect-meta.syntect-tag.syntect-inline.syntect-any, .syntect-text.syntect-html.syntect-basic .syntect-meta.syntect-tag.syntect-structure.syntect-any.syntect-html, .syntect-text.syntect-html.syntect-basic .syntect-source.syntect-js.syntect-embedded.syntect-html, .syntect-punctuation.syntect-separator.syntect-key-value.syntect-html {
 color: #657b83;
}
.syntect-text.syntect-html.syntect-basic .syntect-entity.syntect-other.syntect-attribute-name.syntect-html, .syntect-meta.syntect-tag.syntect-xml .syntect-entity.syntect-other.syntect-attribute-name {
 color: #b58900;
}
.syntect-keyword.syntect-other.syntect-special-method.syntect-ruby {
 color: #859900;
}
.syntect-variable.syntect-other.syntect-constant.syntect-ruby {
 color: #b58900;
}
.syntect-constant.syntect-other.syntect-symbol.syntect-ruby {
 color: #2aa198;
}
.syntect-keyword.syntect-other.syntect-special-method.syntect-ruby {
 color: #cb4b16;
}
.syntect-meta.syntect-array .syntect-support.syntect-function.syntect-construct.syntect-php {
 color: #b58900;
}
.syntect-entity.syntect-name.syntect-function.syntect-preprocessor.syntect-c, .syntect-meta.syntect-preprocessor.syntect-c.syntect-include, .syntect-meta.syntect-preprocessor.syntect-macro.syntect-c {
 color: #cb4b16;
}
.syntect-meta.syntect-preprocessor.syntect-c.syntect-include .syntect-string.syntect-quoted.syntect-other.syntect-lt-gt.syntect-include.syntect-c, .syntect-meta.syntect-preprocessor.syntect-c.syntect-include .syntect-punctuation.syntect-definition.syntect-string.syntect-begin.syntect-c, .syntect-meta.syntect-preprocessor.syntect-c.syntect-include .syntect-punctuation.syntect-definition.syntect-string.syntect-end.syntect-c {
 color: #2aa198;
}
.syntect-other.syntect-package.syntect-exclude, .syntect-other.syntect-remove {
 color: #dc322f;
}
.syntect-other.syntect-add {
 color: #2aa198;
}
.syntect-punctuation.syntect-section.syntect-group.syntect-tex, .syntect-punctuation.syntect-definition.syntect-arguments.syntect-begin.syntect-latex, .syntect-punctuation.syntect-definition.syntect-arguments.syntect-end.syntect-latex, .syntect-punctuation.syntect-definition.syntect-arguments.syntect-latex {
 color: #dc322f;
}
.syntect-meta.syntect-group.syntect-braces.syntect-tex {
 color: #b58900;
}
.syntect-string.syntect-other.syntect-math.syntect-tex {
 color: #b58900;
}
.syntect-variable.syntect-parameter.syntect-function.syntect-latex {
 color: #cb4b16;
}
.syntect-punctuation.syntect-definition.syntect-constant.syntect-math.syntect-tex {
 color: #dc322f;
}
.syntect-text.syntect-tex.syntect-latex .syntect-constant.syntect-other.syntect-math.syntect-tex, .syntect-constant.syntect-other.syntect-general.syntect-math.syntect-tex, .syntect-constant.syntect-other.syntect-general.syntect-math.syntect-tex, .syntect-constant.syntect-character.syntect-math.syntect-tex {
 color: #2aa198;
}
.syntect-string.syntect-other.syntect-math.syntect-tex {
 color: #b58900;
}
.syntect-punctuation.syntect-definition.syntect-string.syntect-begin.syntect-tex, .syntect-punctuation.syntect-definition.syntect-string.syntect-end.syntect-tex {
 color: #dc322f;
}
.syntect-keyword.syntect-control.syntect-label.syntect-latex, .syntect-text.syntect-tex.syntect-latex .syntect-constant.syntect-other.syntect-general.syntect-math.syntect-tex {
 color: #2aa198;
}
.syntect-variable.syntect-parameter.syntect-definition.syntect-label.syntect-latex {
 color: #dc322f;
}
.syntect-support.syntect-function.syntect-be.syntect-latex {
 color: #859900;
}
.syntect-support.syntect-function.syntect-section.syntect-latex {
 color: #cb4b16;
}
.syntect-support.syntect-function.syntect-general.syntect-tex {
 color: #2aa198;
}
.syntect-keyword.syntect-control.syntect-ref.syntect-latex {
 color: #2aa198;
}
.syntect-storage.syntect-type.syntect-class.syntect-python, .syntect-storage.syntect-type.syntect-function.syntect-python, .syntect-storage.syntect-modifier.syntect-global.syntect-python {
 color: #859900;
}
.syntect-support.syntect-type.syntect-exception.syntect-python {
 color: #b58900;
}
.syntect-meta.syntect-scope.syntect-for-in-loop.syntect-shell, .syntect-variable.syntect-other.syntect-loop.syntect-shell {
 color: #586e75;
}
.syntect-meta.syntect-scope.syntect-case-block.syntect-shell, .syntect-meta.syntect-scope.syntect-case-body.syntect-shell {
 color: #586e75;
}
.syntect-punctuation.syntect-definition.syntect-logical-expression.syntect-shell {
 color: #dc322f;
}
.syntect-storage.syntect-modifier.syntect-c\+\+ {
 color: #859900;
}
.syntect-support.syntect-function.syntect-perl {
 color: #268bd2;
}
.syntect-meta.syntect-diff, .syntect-meta.syntect-diff.syntect-header {
 color: #93a1a1;
}
.syntect-meta.syntect-diff.syntect-range {
 color: #268bd2;
}
.syntect-markup.syntect-deleted {
 color: #dc322f;
}
.syntect-markup.syntect-changed {
 color: #2aa198;
}
.syntect-markup.syntect-inserted {
 color: #859900;
}
.syntect-markup.syntect-heading, .syntect-punctuation.syntect-definition.syntect-heading.syntect-markdown {
 color: #b58900;
}
.syntect-markup.syntect-quote {
 color: #859900;
}
.syntect-markup.syntect-italic {
font-style: italic;
}
.syntect-markup.syntect-bold {
font-weight: bold;
}
.syntect-markup.syntect-underline.syntect-link.syntect-markdown, .syntect-meta.syntect-link.syntect-reference .syntect-constant.syntect-other.syntect-reference.syntect-link.syntect-markdown {
 color: #2aa198;
}
.syntect-constant.syntect-other.syntect-reference.syntect-link.syntect-markdown {
 color: #6c71c4;
}
.syntect-meta.syntect-paragraph.syntect-markdown .syntect-meta.syntect-dummy.syntect-line-break {
 background-color: #eee8d5;
}
.syntect-sublimelinter.syntect-notes {
 color: #eee8d5;
 background-color: #eee8d5;
}
.syntect-sublimelinter.syntect-outline.syntect-illegal {
 color: #93a1a1;
 background-color: #93a1a1;
}
.syntect-sublimelinter.syntect-underline.syntect-illegal {
 background-color: #dc322f;
}
.syntect-sublimelinter.syntect-outline.syntect-warning {
 color: #839496;
 background-color: #839496;
}
.syntect-sublimelinter.syntect-underline.syntect-warning {
 background-color: #b58900;
}
.syntect-sublimelinter.syntect-outline.syntect-violation {
 color: #657b83;
 background-color: #657b83;
}
.syntect-sublimelinter.syntect-underline.syntect-violation {
 background-color: #cb4b16;
}
.syntect-sublimelinter.syntect-mark.syntect-warning {
 color: #b58900;
}
.syntect-sublimelinter.syntect-mark.syntect-error {
 color: #dc322f;
}
.syntect-sublimelinter.syntect-gutter-mark {
 color: #657b83;
}
.syntect-brackethighlighter.syntect-all {
 color: #93a1a1;
}
.syntect-entity.syntect-name.syntect-filename.syntect-find-in-files {
 color: #2aa198;
}
.syntect-constant.syntect-numeric.syntect-line-number.syntect-find-in-files {
 color: #93a1a1;
}
.syntect-markup.syntect-deleted.syntect-git_gutter {
 color: #dc322f;
}
.syntect-markup.syntect-inserted.syntect-git_gutter {
 color: #859900;
}
.syntect-markup.syntect-changed.syntect-git_gutter {
 color: #b58900;
}
.syntect-variable.syntect-other.syntect-readwrite.syntect-js, .syntect-variable.syntect-other.syntect-object.syntect-js, .syntect-variable.syntect-other.syntect-constant.syntect-js {
 color: #657b83;
}


