snippet frac LaTeX Fraction
	\\frac{${1:numerator}}{${2:denominator}}

snippet int LaTeX Integral
	\\int_{${1:lower}}^{${2:upper}} ${3:expression} \\, d${4:variable}

snippet lim LaTeX Limit
	\\lim_{${1:x \\to 0}} ${2:expression}

snippet sum LaTeX Summation
	\\sum_{${1:i=1}}^{${2:n}} ${3:x_i}
